CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeSettings.json
.vscode/
build/
SDK-cpp/
lib/
include/
resource/RP.zip
resource/trans.py
src/Resource.cpp